html,
body {
    width: 100%;
}

#wrap {
    max-width: 400px;
    max-height: 500px;
    padding: 1rem;
}

#chkUseridButton{
    border-radius : 20px;
    border :none;
    left: 66%;
    top: 19%
}

#ChkId,#ChkNickname,#ChkEmail, #Password1, #Password2 {
    margin : 10px 0;
    border-radius: 20px;

}
#msg{

}


#insertButton{
    width:100%;
    border :none;
}

#insertButton:hover,#chkUseridButton:hover{
    background-color: rgb(107,144,159);
    cursor:pointer;
}
